{% extends 'base.html' %}
{% block title %}
PyCODERS || Contact Us
{% endblock title %}
{% block body %}

<div class="container">
<p class="h1 my-3">Contact Us!</p>
<form method="POST" action="/contact">
{% csrf_token %}
  <div class="form-group">
    <label for="exampleFormControlInput1"> YourName</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter Your Name" name="name">
  </div>

  <div class="form-group">
    <label for="exampleFormControlInputq">Your Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInputq" placeholder="name@example.com" name="email">
  </div>

  <div class="form-group">
    <label for="exampleFormControlInpute">Your Phone Number(with country code)</label>
    <input type="number" class="form-control" id="exampleFormControlInpute" placeholder="Enter Your Phone No." name="phone">
  </div>

 <div class="form-group">
    <label for="exampleFormControlTextarea1">Enter Your Message</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="message"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form></div>
{% endblock body %}